<?xml version='1.0' encoding="UTF-8" ?>

<web-app>
    <display-name>REST API project</display-name>

    <servlet-mapping>
        <servlet-name>EventServlet</servlet-name>
        <url-pattern>/events</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EventServlet</servlet-name>
        <servlet-class>servlets.EventServlet</servlet-class>
    </servlet>


    <servlet-mapping>
        <servlet-name>FileServlet</servlet-name>
        <url-pattern>/files</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>FileServlet</servlet-name>
        <servlet-class>servlets.FileServlet</servlet-class>
    </servlet>


    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/users</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>servlets.UserServlet</servlet-class>
    </servlet>

</web-app>